body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.list {
  background-color: #5a3e2b;
  color: #ffebb3;
  padding: 4rem 0;
  width: 100vh;
  height: auto;
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.2rem;
  align-items: start;
  border-radius: 2%;
}

.card {
  background-color: #b34700;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
}
.list input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #e5771f;
  display: flex;
}

button {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 5rem;
  padding: 0.5rem 0.8rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  margin-bottom: 2px;
}
